@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800');

body{
    --main-white: ghostwhite;
    --main-grey: lightgrey;
    --main-dark: rgb(102, 102, 102);
    --main-bg-color: rgb(255, 206, 188);
    --secondary-bg-color: rgb(218, 146, 113);
    --main-primary-color: rgb(65, 65, 134);
    --main-primary-color-dark: #225;
    --main-shadow: #2021;
    --main-font-color: var(--main-primary-color);
    --error-font-color: crimson;
    --main-font-weight: 600;
    --main-font-size: 15px;
    --main-font-family: Montserrat, sans-serif;
    --quick-transition-time: 0.1s;
    --main-border-radius: 10px;
    --small-border-radius: 5px;
    --small-padding: 1em;
    --medium-padding: 2em;
    --large-padding: 3em;
    --burger-btn-size: 20vw;
    color: var(--main-font-color);
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
    min-height: 100vh;
    margin: 0pt;
    font-family: var(--main-font-family);
    /* background: url(/images/desert_bottom_right.png) right bottom no-repeat, linear-gradient(315deg, rgba(255,194,162,1) 0%, rgba(255,223,196,1) 100%) right no-repeat; */
    background: linear-gradient(45deg, rgba(255,194,162,0) 0%, rgba(255,223,196,1) 100%) right, url(/images/desert_modified.png) center;
    background-blend-mode: multiply, normal;
    background-size: cover, cover;
    /* background: linear-gradient(315deg, rgba(255,194,162,1) 0%, rgba(255,223,196,1) 100%) cover no-repeat, url(./public/images/desert_bottom_right.png) right bottom no-repeat; */
    /* background-size: cover;
    background-repeat: no-repeat; */
}

p {
    font-weight: 400;
}

.error {
    font-weight: 600;
    color: var(--error-font-color);
}

/* .error::before {
    content: "! ";
} */

button {
    font-family: var(--main-font-family);
}

#root {
    margin: 0pt;
    height: 100vh;
}

.centering-page {
    display: flex;
    padding-left: 20pt;
    padding-right: 20pt;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none !important;
}

.fat-btn-top {
    color: var(--main-white);
    background-color: var(--main-primary-color);
    border-radius: var(--main-border-radius);
    border: var(--main-primary-color-dark) 3pt solid;
    display: block;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 800 !important;
    text-align: center;
    text-transform: uppercase;
    transition: var(--quick-transition-time);
    transition-timing-function: ease-out;
    transform: translate(0pt, -5pt);
}

.fat-btn-top:hover {
    transform: translate(0pt, -8pt);
}

.fat-btn-top:active {
    transform: translate(0pt, -2pt);
}

.fat-btn {
    width: 100%;
    border-style: none;
    cursor: pointer;
    border-radius: var(--main-border-radius);
    background-color: var(--main-primary-color-dark);
    margin-bottom: var(--small-padding);
    margin-top: 5pt;
    box-shadow: 3pt 3pt var(--main-shadow);
    transition: var(--quick-transition-time);
    padding: 0pt;
    transition-timing-function: ease-out;
    text-align: center;
}

a:last-child>.fat-btn {
    margin-bottom: 0pt;
}

.fat-btn:hover {
    box-shadow: 5pt 5pt var(--main-shadow);
}

.fat-btn:active {
    box-shadow: 1pt 1pt var(--main-shadow);
}

.pannel {
    background-color: var(--main-white);
    border-radius: var(--main-border-radius);
    border: 3pt var(--main-grey) solid;
    padding: 1.5em;
    box-shadow: 10pt 10pt var(--main-shadow);
    max-width: 70vw;
    width: 300pt;
    color: var(--main-dark);
}

.pannel h2 {
    margin-top: 0pt;
    margin-bottom: 15pt;
}

form {
    text-align: left;
}

form>* {
    margin-bottom: 10pt;
}

.shadow-text {
    color: var(--main-shadow);
}

input {
    border-radius: var(--small-border-radius);
    border: 2pt var(--main-grey) solid;
    height: 2em;
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    width: 100%;
    box-sizing: border-box;
    padding-left: .5em;
}

input:last-of-type {
    margin-bottom: 15pt;
}

input[type=checkbox] {
    width: 1em;
    height: 1em;
    margin-right: .5em;
}

h1 {
    color: var(--main-primary-color);
    text-shadow: 3pt 3pt var(--main-shadow);
    font-size: 3em;
}

.error-pannel {
    background-color: var(--error-font-color);
    color: var(--main-white);
    font-weight: 600;
    border-radius: var(--small-border-radius);
    padding: 15pt;
}

.error-pannel p {
    font-weight: 600;
    margin: 0pt;
}

.dashboard {
    display: flex;
    height: 100%;
}

.burger-btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--burger-btn-size);
    height: var(--burger-btn-size);
    font-size: 10vw;
    cursor: pointer;
    z-index: 101;
    background-color: transparent;
    border: none;
    color: var(--main-font-color);
}

.side-menu {
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: var(--main-shadow);
    padding: var(--medium-padding);
    box-sizing: border-box;
    width: fit-content;
    height: 100%;
}

.dashboard-top-bar {
    display: none;
    height: var(--burger-btn-size);
    width: 100%;
}

@media (max-aspect-ratio: 1/1) {
    .side-menu {
        background: linear-gradient(135deg, var(--main-primary-color) 0%, var(--main-primary-color-dark) 100%);
        width: 80vw;
        padding-top: 20vw;
        position: absolute;
        transition: 0.5s;
    }
    .collapsed-menu {
        transform: translate(-100%, 0);
    }
    .burger-btn {
        display: block;
    }
    .dashboard-top-bar {
        display: block;
    }
    .dashboard-content {
        padding: 20px !important;
        flex-direction: column;
        align-items: center;
    }
}

.dashboard-content {
    flex-grow: 1;
    padding: 50px;
    display: flex;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.light {
    color: var(--main-white);
}

.game-board {
    aspect-ratio: 7 / 6;
    width: min(100%, calc(75vh * 7/6));
    height: auto;
    border: 1px solid red;
    display: flex;
    gap: 5px;
}

.game-column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
    align-content: space-around;
    border: 1px solid green;
}

.game-view{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.token {
    border-radius: 50%;
    flex-grow: 1;
    background-color: var(--main-shadow);
}