@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800');

body{
  --main-white: ghostwhite;
  --main-grey: lightgrey;
  --main-dark: rgb(102, 102, 102);
  --main-font-color: var(--main-dark);
  --main-font-weight: 600;
  --main-font-size: 15pt;
  --main-font-family: Montserrat, sans-serif;
  --main-bg-color: rgb(255, 206, 188);
  --main-btn-color: rgb(65, 65, 134);
  --main-btn-shadow: #225;
  color: var(--main-font-color);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  min-height: 100vh;
  margin: 0pt;
  font-family: var(--main-font-family);
  background: linear-gradient(315deg, rgba(255,194,162,1) 0%, rgba(255,223,196,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  font-family: var(--main-font-family);
}

#root {
  margin: 0pt;
  height: 100vh;
}

.centering-page {
  display: flex;
  margin:auto;
  width: 80vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
}

.fat-btn-top {
  color: var(--main-white);
  background-color: var(--main-btn-color);
  border-radius: 10pt;
  border: var(--main-btn-shadow) 3pt solid;
  display: block;
  padding: 0.5em;
  font-size: 30pt;
  font-weight: 800 !important;
  text-align: center;
  text-transform: uppercase;
  transition: 0.05s;
  transition-timing-function: ease-out;
  transform: translate(0pt, -5pt);
}

.fat-btn-top:hover {
  transform: translate(0pt, -8pt);
}

.fat-btn-top:active {
  transform: translate(0pt, -2pt);
}

.fat-btn {
  width: 100%;
  border-style: none;
  cursor: pointer;
  border-radius: 10pt;
  background-color: var(--main-btn-shadow);
  margin-bottom: 1.5em;
  box-shadow: 3pt 3pt #2021;
  transition: 0.05s;
  padding: 0pt;
  transition-timing-function: ease-out;
}

a:last-child>.fat-btn {
  margin-bottom: 0pt;
}

.fat-btn:hover {
  box-shadow: 4pt 4pt #2021;
}

.fat-btn:active {
  box-shadow: 1pt 1pt #2021;
}

.form-container {
  background-color: var(--main-white);
  border-radius: 10pt;
  border: 3pt var(--main-grey) solid;
  padding: 1.5em;
  box-shadow: 10pt 10pt #2021;
}

.form-container>* {
  margin-bottom: 10pt;
}

input {
  border-radius: 5pt;
  border: 2pt var(--main-grey) solid;
  height: 1.5em;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: var(--main-font-color);
}
  